body
{
    background:rgb(244, 244, 248);
    color: rgb(19, 2, 2);
    Text-align: center;
    font-family: "Arial";
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#Cabecera
{
    background: rgb(85, 85, 218);
    box-shadow: 0px 5px 30px 0px rgba(12, 2, 2, 0.75); 
    color:rgb(252, 247, 247);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 
}

#cabecera #Logo
{
    width: 50px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
<<<<<<< HEAD
    font-weight: normal;
=======
    font-weight: normal; 
>>>>>>> fooder
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(233, 226, 226);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
<<<<<<< HEAD
    background: white;
    padding: 1em;
=======
padding: 1em;
}

#fooder
{
    background:#777;
    color:white;
    text-align: center;
    padding: 0.5em;

>>>>>>> fooder
}